
@media screen and (max-width: 479px){
    .blog__post--cms-item  {
        margin-bottom: 32px!important;
    }
    .blog__news {
        display: none;
    }
    .blog__see-more.margin--100px {
        margin-top: 50px;
    }
    .black-stroke-btn--large {
        padding: 12px 32px;
        border-radius: 0.73rem;
    }
    .blog-pin.margin--150px {
        flex-direction: column-reverse!important;
    }
}
.blog-sidebar__webinar--img {
    height: auto!important;
}